@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

body {
  margin: 0;
  font-family: "Plus Jakarta Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply bg-[#D9D9D9] w-[15px];
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-[#D9D9D9] w-[15px] rounded-[2px];
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-[#FFF] w-[1px] rounded-[2px];
}
